<h1 class="center">Cloud platform for collaborative storage</h1>
<div class='botao-redir-arq'>
    <%if current_user%>
        <%=link_to "Arquivos", arquivos_path, class:'button-link' %>
    <%end%>
</div>