<h1 class="page-title">Upload New File</h1>

<%= render 'form', arquivo: @arquivo %>

<div class='buttons-container'>
    <%= button_to arquivos_path, method: :get, class:'button' do %>
        Back
    <% end %>
</div>
