/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body { 
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  /*width: calc(100vw-20px);*/
  width: 99%;
  margin-top: -18px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  background-color: #725ac1;
  padding: 10px;
}

.header-option {
  float: right;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 16px; 
  border-radius: 5px;
}

.header a:hover {
  color: #242038;
}

.footer {
  position: absolute;
}

 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
   }
   .cat {
    margin-left:10px;
        margin-right:10px;
        width:400px;
        height:400px;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 18px Georgia, "Times New Roman", Times, serif;
        color: rgb(15, 34, 179);
        text-shadow: 1px 1px 1px #FFF;
        border:auto;
   }

   .cat1 {
    margin-left:10px;
        margin-right:10px;
        width:auto;
        height:300px;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 18px Georgia, "Times New Roman", Times, serif;
        color: rgb(15, 34, 179);
        text-shadow: 1px 1px 1px #FFF;
        border:auto;
   }

   .icon {
    margin-left:10px;
        margin-right:10px;
        width:100px;
        height: 100px;;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 15px Georgia, "Times New Roman", Times, serif;
        color: rgb(15, 34, 179);
        text-shadow: 1px 1px 1px #FFF;
        border:none;
   }
