@import "font-awesome";

body {
  background-color: white;
  color: black;
  margin: 30px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  .page-title {
    margin-left: 10px;
  }
  .buttons-container {
    margin-bottom: 20px;
  }
  .button_to {
    width: auto;
    display: inline;
    .button {
      font-size: 14px;
      height: 30px;
      text-align: center;
      margin: 0 10px;
      color: white;
      background-color: black;
      border: none;
      border-radius: 5px;
      padding: 0 10px;
    }
  }
}

.cards-list {
  width: calc(100vw - 60px);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  margin: 10px;
  border-radius: 5%;
  border: solid lightgray;
  border-width: 2px;
  width: 200px;
  align-items: center;
  .card-image {
    height: 100px;
    background-color: lightgray;
    max-width: 100%;
    object-fit: contain;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-subtitle {
    margin: 5px 10px;
    color: black;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .card-actions {
    padding: 10px 15px;
    width:170px;
    text-align: center;
    .button_to {
      width: auto;
      display: inline;
      > button {
        font-size: 16px;
        height: 30px;
        width: 30px;
        text-align: center;
        margin: 0 10px;
        color: black;
        background-color: lightgray;
        border: none;
        border-radius: 15px;
        padding: 0;
        :hover {
          color: salmon;
        }
      }
    }
  }
}

.card:hover {
  border: solid gray;
  border-width: 2px;
}

.file-data {
  width: calc(100vw - 60px);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .data-col-img {
    margin: 10px;
    width: 50%;
    height: 60vh;
    background-color: lightgray;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .data-col-text {
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    .data-text {
      margin: 0;
      margin-bottom: 5px;
      color: black;
      font-size: 14px;
      overflow: hidden;
      word-wrap: break-word;
    }
  }
}

.page-content-card {
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgray;
  width: calc(100vw-20px);
  display: grid;
  justify-content: center;
}

.form-field {
  margin: 5px;
  font-size: 14px;
  > input {
    border: white;
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    width: 300px;
  }
  > textarea {
    border: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px 5px;
    width: 300px;
  }
}

.form-field-checkbox {
  margin: 5px;
  font-size: 14px;
  display: inline-flex;
  > input {
    margin: 2px 3px 2px 0;
  }
}

.form-field-actions {
  margin: 10px;
  display: flex;
  justify-content: center;
  > input {
    font-size: 14px;
    height: 30px;
    text-align: center;
    margin: 0 10px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
  }
}

.form-field-select {
  margin: 5px;
  font-size: 14px;
  > select {
    margin: 5px 0;
    padding: 0 5px;
    height: 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
  }
}

.form-field-upload {
  margin: 5px;
  font-size: 14px;
}

.links-container {
  margin: 5px;
  font-size: 14px;
  > a {
    font-size: 14px;
    color: black;
  }
  > a:hover {
    background: none;
    color: salmon;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
